@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<p>Bạn không có quyền truy cập vào trang này.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
