@model DataAccessLayer.Models.SystemAccount
@{
    ViewData["Title"] = "Create Account";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="AccountEmail" class="form-label"></label>
        <input asp-for="AccountEmail" class="form-control" />
        <span asp-validation-for="AccountEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AccountName" class="form-label"></label>
        <input asp-for="AccountName" class="form-control" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AccountRole" class="form-label"></label>
        <select asp-for="AccountRole" class="form-select">
            <option value="1">Nhân viên</option>
            <option value="2">Giảng viên</option>
            <option value="3">Quản trị</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="AccountPassword" class="form-label"></label>
        <input asp-for="AccountPassword" class="form-control" />
        <span asp-validation-for="AccountPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tạo Mới</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
